# Ignore specific files in Cpp_fiducial_object
Cpp__fiducial_object/.qtcreator      
Cpp__fiducial_object/.vscode
Cpp__fiducial_object/build  
Cpp__fiducial_object/CMakeLists.txt.user
Cpp__fiducial_object/CMakeLists.txt.user.89dac47
Cpp__fiducial_object/config.cmake.in

# Ignore specific files in Godot_Markie
Godot__Markie/.godot            

# Ignore Godot-specific files/folders
Godot__Markie/.import
Godot__Markie/.godot
Godot__Markie/export

# Ignore IDE-specific files
.idea/                    
.vscode/        

# Ignore temporary files and logs
*.log

# Ignore other resources
._*